In [1]:
import numpy as np
import pandas as pd
import datetime
import re
import requests
from bs4 import BeautifulSoup
import warnings

In [2]:
# Newyork:
# https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/data-by-modzcta.csv
# City of San Antonio:
# https://cosacovid-cosagis.hub.arcgis.com/datasets/CoSAGIS::covid19-deaths-by-zip-code/about
# Wisconsin:
# https://data.dhsgis.wi.gov/datasets/wi-dhs::covid-19-data-by-zip-code-tabulation-area-v2/about
ny_df = pd.read_csv('Data/Covid Data/newyork-covid19-cases-and-deaths.csv')
ny_df = ny_df[['MODIFIED_ZCTA', 'COVID_CASE_COUNT', 'COVID_DEATH_COUNT']]
ny_df.columns = ['Zipcode', 'Case Counts', 'Death Counts']
display(ny_df)
sa_df = pd.read_csv('Data/Covid Data/san-antonio-covid19-cases-and-deaths.csv')
sa_df = sa_df[['ZIP_CODE', 'Positive','Deaths']]
sa_df.columns = ['Zipcode', 'Case Counts', 'Death Counts']
display(sa_df)
wi_df = pd.read_csv('Data/Covid Data/wisconsin-covid19-cases-and-deaths.csv')
wi_df = wi_df[['GEOID', 'POS_CUM_CP', 'DTH_CUM_CP']]
wi_df.columns = ['Zipcode', 'Case Counts', 'Death Counts']
display(wi_df)
frames = [ny_df, sa_df, wi_df]
df = pd.concat(frames)
df

     Zipcode  Case Counts  Death Counts
0      10001         7745            57
1      10002        19171           412
2      10003        13634            84
3      10004          973             2
4      10005         2323             1
..       ...          ...           ...
172    11691        19207           614
173    11692         5068           154
174    11693         3256            63
175    11694         5783           133
176    11697         1461            20

[177 rows x 3 columns]

    Zipcode  Case Counts  Death Counts
0     78002         2712            21
1     78015         2407            11
2     78023         5907            41
3     78069          405             8
4     78073         3006            18
..      ...          ...           ...
61    78259         5505            36
62    78260         7417            29
63    78261         5200            14
64    78263         1305             7
65    78264         4184            44

[66 rows x 3 columns]

    Zipcode  Case Counts  Death Counts
0     54403         6922            90
1     54405          935            24
2     54406          932             7
3     54407          329             1
4     54408          252             3
..      ...          ...           ...
770   54540          186             1
771   54541          391            13
772   54542           82             1
773   54545          165             6
774   54546          235             6

[775 rows x 3 columns]

    Zipcode  Case Counts  Death Counts
0     10001         7745            57
1     10002        19171           412
2     10003        13634            84
3     10004          973             2
4     10005         2323             1
..      ...          ...           ...
770   54540          186             1
771   54541          391            13
772   54542           82             1
773   54545          165             6
774   54546          235             6

[1018 rows x 3 columns]

In [3]:
df[df['Zipcode'] == 'ZCTA N/A']

      Zipcode  Case Counts  Death Counts
122  ZCTA N/A        39854           408

In [4]:
def scrape(z):
        z = str(z)
        source = requests.get('https://censusreporter.org/profiles/86000US{zip}-{zip}/'.format(zip=z)).text
        soup = BeautifulSoup(source, 'lxml')
        s = soup.findAll('script',type="text/javascript")[1]
        return str(s)

def parse(param, sp):
    param = '"'+param+'", '
    try:
        var = float(re.findall(param+'"values": {"this":\s*([+-]?[0-9]+\.[0-9]+)',sp)[0])
    except:
        var = 0

    return var

def getSocioDem(zipcodes):
    df = pd.DataFrame(columns = [ 'Zipcode', 'Population', 'Median age', 'Under 18(%)', '18 to 64(%)', '65 and over(%)', 'Male(%)', 'Female(%)', 'White(%)', "Black(%)", "Native(%)", "Asian(%)", "Islander(%)", "Two plus(%)", "Hispanic(%)", "Per capita income (USD)", "Median household income (USD)", "Below poverty line(%)",
                                'Mean travel time to work (Minutes)', 'Drove Alone (%)', 'Carpooled (%)', 'Public Transit (%)', 'Bicycle (%)', 'Walked (%)', 'Other (%)', 'Worked at home (%)', 'Number of households', 'Persons per household', 'Married (%)', 'Single (%)',
                                'Number of housing units', 'Occupied housing (%)', 'Vacant housing (%)', 'Owner Occupied (%)', 'Renter Occupied (%)', 'Median housing value',
                                'Moved Since Prev Year(%)', 'Same House Prev Year(%)', 'No Degree(%)', 'High School(%)', 'Some College(%)', "Bachelor's(%)", "Post-grad(%)", 'Foriegn Born Population(%)', 'Europe(%)', 'Asia(%)', 'Africa(%)', 'Oceania(%)', 'Latin America(%)', 'North America(%)'],
                                index = list(range(0,len(zipcodes))))

    i = 0
    fail_zip = []
    for zip in zipcodes:
        print(i, zip)
        try:
            s = scrape(zip)
        except:
            fail_zip.append(zip)
            continue
        var = '"full_geoid": "86000US{z}", "total_population":'.format(z=str(zip))
        population = int(re.findall(var+'\s*([+-]?[0-9]+)',s)[0])

        median_age = parse("Median age",s)
        percent_under18 = parse("Under 18",s)
        percent_18to64 = parse("18 to 64",s)
        percent_65andOver = parse("65 and over",s)

        percent_male = parse("Male",s)
        percent_female = parse("Female",s)

        percent_white = parse("White",s)
        percent_black = parse("Black",s)
        percent_native = parse("Native",s)
        percent_asian = parse("Asian",s)
        percent_islander = parse("Islander",s)
        pecent_two_plus = parse("Two\+",s)
        percent_hispanic = parse("Hispanic",s)

        per_capita = parse("Per capita income", s)
        median_household_income = parse("Median household income",s)

        percent_below_poverty = parse("Persons below poverty line",s)

        mean_travel_time = parse("Mean travel time to work",s)
        drove_alone = parse("Drove alone",s)
        carpooled = parse("Carpooled",s)
        public_transit = parse("Public transit",s)
        bicycle = parse("Bicycle",s)
        walked = parse("Walked",s)
        other = parse("Other",s)
        worked_at_home = parse("Worked at home",s)

        number_of_households = parse("Number of households",s)
        persons_per_household = parse("Persons per household",s)

        married = parse("Married",s)
        single = parse("Single",s)

        number_of_housing_units = parse("Number of housing units",s)
        occupied_housing_units = parse("Occupied",s)
        vacant_housing_units = parse("Vacant",s)
        owner_housing_units = parse("Owner occupied",s)
        renter_housing_units = parse("Renter occupied",s)

        median_value_owner_occupied = parse("Median value of owner-occupied housing units",s)

        moved_since_previous_year = parse("Moved since previous year",s)
        same_house_year_ago = parse("Same house year ago",s)

        no_degree = parse("No degree",s)
        high_school = parse("High school",s)
        some_college = parse("Some college",s)
        bachelors = parse("Bachelor's",s)
        post_grad = parse("Post-grad",s)

        foriegn_born_pop = parse("Foreign-born population",s)
        europe = parse('Europe',s)
        asia = parse('Asia',s)
        africa = parse('Africa',s)
        oceania = parse('Oceania',s)
        latin_america = parse('Latin America',s)
        north_america = parse('North America',s)

        df.iloc[i] = [zip, population, median_age, percent_under18, percent_18to64, percent_65andOver, percent_male, percent_female, percent_white, percent_black, percent_native, percent_asian, percent_islander, pecent_two_plus, percent_hispanic, per_capita, median_household_income, percent_below_poverty, mean_travel_time,
        drove_alone, carpooled, public_transit, bicycle, walked, other, worked_at_home, number_of_households, persons_per_household, married, single, number_of_housing_units, occupied_housing_units, vacant_housing_units, owner_housing_units, renter_housing_units,
        median_value_owner_occupied, moved_since_previous_year, same_house_year_ago, no_degree, high_school, some_college, bachelors, post_grad, foriegn_born_pop, europe, asia, africa, oceania, latin_america, north_america]

        i+=1
    print(fail_zip)
    return df

In [5]:
# z = 60106
# source = requests.get('https://censusreporter.org/profiles/86000US{zip}-{zip}/'.format(zip=z)).text
# soup = BeautifulSoup(source, 'lxml')
# s = soup.findAll('script',type="text/javascript")
# str(s[1])

In [6]:
# scrape social demographic data 
zipcodes = df.Zipcode.tolist()
socio_df = getSocioDem(zipcodes)
socio_df

0 10001
1 10002
2 10003
3 10004
4 10005
5 10006
6 10007
7 10009
8 10010
9 10011
10 10012
11 10013
12 10014
13 10016
14 10017
15 10018
16 10019
17 10021
18 10022
19 10023
20 10024
21 10025
22 10026
23 10027
24 10028
25 10029
26 10030
27 10031
28 10032
29 10033
30 10034
31 10035
32 10036
33 10037
34 10038
35 10039
36 10040
37 10044
38 10065
39 10069
40 10075
41 10128
42 10280
43 10282
44 10301
45 10302
46 10303
47 10304
48 10305
49 10306
50 10307
51 10308
52 10309
53 10310
54 10312
55 10314
56 10451
57 10452
58 10453
59 10454
60 10455
61 10456
62 10457
63 10458
64 10459
65 10460
66 10461
67 10462
68 10463
69 10464
70 10465
71 10466
72 10467
73 10468
74 10469
75 10470
76 10471
77 10472
78 10473
79 10474
80 10475
81 11004
82 11101
83 11102
84 11103
85 11104
86 11105
87 11106
88 11109
89 11201
90 11203
91 11204
92 11205
93 11206
94 11207
95 11208
96 11209
97 11210
98 11211
99 11212
100 11213
101 11214
102 11215
103 11216
104 11217
105 11218
106 11219
107 11220
108 11221
109 11222
110 11223
111 11224
112 11225
113 11226
114 11228
115 11229
116 11230
117 11231
118 11232
119 11233
120 11234
121 11235
122 11236
123 11237
124 11238
125 11239
126 11354
127 11355
128 11356
129 11357
130 11358
131 11360
132 11361
133 11362
134 11363
135 11364
136 11365
137 11366
138 11367
139 11368
140 11369
141 11370
142 11372
143 11373
144 11374
145 11375
146 11377
147 11378
148 11379
149 11385
150 11411
151 11412
152 11413
153 11414
154 11415
155 11416
156 11417
157 11418
158 11419
159 11420
160 11421
161 11422
162 11423
163 11426
164 11427
165 11428
166 11429
167 11432
168 11433
169 11434
170 11435
171 11436
172 11691
173 11692
174 11693
175 11694
176 11697
177 78002
178 78015
179 78023
180 78069
181 78073
182 78101
183 78109
184 78112
185 78148
186 78152
187 78154
188 78201
189 78202
190 78203
191 78204
192 78205
193 78207
194 78208
195 78209
196 78210
197 78211
198 78212
199 78213
200 78214
201 78216
202 78217
203 78218
204 78219
205 78220
206 78221
207 78222
208 78223
209 78224
210 78225
211 78226
212 78227
213 78228
214 78229
215 78230
216 78231
217 78232
218 78233
219 78237
220 78238
221 78239
222 78240
223 78242
224 78244
225 78245
226 78247
227 78248
228 78249
229 78250
230 78251
231 78252
232 78253
233 78254
234 78255
235 78256
236 78257
237 78258
238 78259
239 78260
240 78261
241 78263
242 78264
243 54403
244 54405
245 54406
246 54407
247 54408
248 54409
249 54410
250 54489
251 54490
252 54491
253 54493
254 54494
255 54495
256 54498
257 54611
258 54612
259 54613
260 54614
261 54615
262 54616
263 54618
264 53220
265 53221
266 53222
267 53223
268 53224
269 53225
270 53226
271 53532
272 53533
273 53534
274 53536
275 53537
276 53538
277 53540
278 53582
279 53583
280 53585
281 53586
282 53587
283 53588
284 53589
285 53818
286 53820
287 53821
288 53825
289 53826
290 53827
291 53901
292 53956
293 53959
294 53960
295 53961
296 53963
297 53964
298 53965
299 54473
300 54474
301 54475
302 54476
303 54479
304 53011
305 53012
306 53046
307 53047
308 53048
309 53049
310 53050
311 53051
312 53057
313 53114
314 53115
315 53118
316 53119
317 53120
318 53121
319 53122
320 53189
321 53190
322 53191
323 53192
324 53195
325 53202
326 53203
327 54154
328 54155
329 54156
330 54157
331 54159
332 54160
333 54161
334 54666
335 54667
336 54669
337 54670
338 54701
339 54703
340 54720
341 54761
342 54762
343 54763
344 54765
345 54766
346 54767
347 54768
348 54846
349 54847
350 54848
351 54849
352 54850
353 54853
354 54854
355 54923
356 54927
357 54928
358 54929
359 54930
360 54931
361 54932
362 54984
363 54985
364 54986
365 ZCTA N/A
365 54950
366 54952
367 54956
368 54960
369 54961
370 54962
371 54963
372 54964
373 54965
374 54966
375 54967
376 54968
377 54970
378 54971
379 54974
380 54977
381 54979
382 54980
383 54981
384 54982
385 54983
386 54769
387 54770
388 54771
389 54772
390 54773
391 54801
392 54805
393 54806
394 54810
395 54812
396 54813
397 54814
398 54817
399 54819
400 54820
401 54821
402 54822
403 54824
404 54826
405 54827
406 54828
407 54754
408 54755
409 54756
410 54757
411 54758
412 54759
413 54760
414 54829
415 54830
416 54832
417 54835
418 54836
419 54837
420 54838
421 54839
422 54840
423 54841
424 54842
425 54843
426 54844
427 54845
428 54855
429 54856
430 54857
431 54858
432 54859
433 54861
434 54862
435 54864
436 54865
437 54867
438 54868
439 54870
440 54871
441 54872
442 54873
443 54874
444 54875
445 54876
446 54880
447 54888
448 54889
449 54891
450 54893
451 54895
452 54896
453 54901
454 54902
455 54904
456 54909
457 54911
458 54913
459 54914
460 54915
461 54921
462 54922
463 53204
464 53205
465 54103
466 54104
467 54106
468 54107
469 54110
470 54111
471 54112
472 54113
473 54114
474 54115
475 54119
476 54120
477 54121
478 54123
479 54124
480 54125
481 54126
482 54127
483 54128
484 54129
485 54130
486 54135
487 54136
488 54137
489 54138
490 54139
491 54140
492 54141
493 54143
494 54149
495 54150
496 54151
497 54153
498 54933
499 54934
500 54935
501 54937
502 54940
503 54941
504 54942
505 54162
506 54165
507 54166
508 54169
509 54170
510 54171
511 54173
512 54174
513 54175
514 54177
515 54180
516 54201
517 54202
518 54204
519 54205
520 54207
521 54643
522 54644
523 54645
524 54646
525 54648
526 54650
527 54651
528 54652
529 54653
530 54654
531 54655
532 54656
533 54657
534 54658
535 54659
536 54660
537 54661
538 54664
539 54665
540 54943
541 54944
542 54945
543 54946
544 54947
545 54948
546 54949
547 54721
548 54722
549 54723
550 54724
551 54725
552 54726
553 54727
554 54728
555 54729
556 54730
557 54731
558 54732
559 54733
560 54734
561 53058
562 53059
563 53061
564 53063
565 53065
566 53066
567 53069
568 53019
569 53020
570 53021
571 53022
572 53023
573 53024
574 53027
575 53029
576 53031
577 53032
578 53033
579 53034
580 53035
581 53036
582 53037
583 53038
584 53039
585 53040
586 53042
587 53044
588 53045
589 53070
590 53072
591 53073
592 53074
593 53075
594 53076
595 53078
596 53079
597 53080
598 53081
599 53083
600 53085
601 53086
602 53088
603 53089
604 53090
605 53091
606 53092
607 53093
608 53094
609 53095
610 53097
611 53098
612 53103
613 53104
614 53105
615 53108
616 53110
617 54736
618 54737
619 54738
620 54739
621 54740
622 54741
623 54742
624 53125
625 53126
626 53128
627 53129
628 53130
629 53132
630 53137
631 53139
632 53140
633 53142
634 53143
635 53144
636 53146
637 53147
638 53149
639 53150
640 53151
641 53153
642 53154
643 53156
644 53158
645 53167
646 53168
647 53170
648 53172
649 53177
650 53178
651 53179
652 53910
653 53911
654 53913
655 53916
656 53919
657 53920
658 53922
659 53923
660 53924
661 53925
662 53926
663 53928
664 53929
665 53930
666 53931
667 53932
668 53933
669 53934
670 53935
671 53936
672 53937
673 53808
674 53809
675 53810
676 53811
677 53813
678 53816
679 53817
680 53939
681 53941
682 53943
683 53944
684 53946
685 53947
686 53948
687 53949
688 53950
689 53951
690 53952
691 53953
692 53954
693 53955
694 53181
695 53182
696 53183
697 53184
698 53185
699 53186
700 53188
701 53968
702 53969
703 54001
704 54002
705 54003
706 54004
707 54005
708 54006
709 54007
710 54009
711 54010
712 54011
713 54013
714 54014
715 54015
716 54016
717 54017
718 54020
719 54021
720 54022
721 54023
722 54024
723 54025
724 54026
725 54027
726 54028
727 54082
728 54101
729 54102
730 54465
731 54466
732 54467
733 54469
734 54470
735 54471
736 54745
737 54746
738 54747
739 54748
740 54749
741 54750
742 54751
743 53227
744 53228
745 53233
746 53235
747 53295
748 53402
749 53403
750 53404
751 53405
752 53406
753 53501
754 53502
755 53503
756 53504
757 53505
758 53506
759 53507
760 53508
761 53510
762 53511
763 53515
764 53516
765 53517
766 53518
767 53520
768 53521
769 53522
770 53523
771 53525
772 53526
773 53527
774 53528
775 53529
776 53530
777 53531
778 53013
779 53014
780 53015
781 53016
782 53001
783 53002
784 53003
785 53541
786 53543
787 53544
788 53545
789 53546
790 53548
791 53549
792 53550
793 53551
794 53553
795 53554
796 53555
797 53556
798 53557
799 53558
800 53559
801 53560
802 53561
803 53562
804 53563
805 53565
806 53566
807 53569
808 53570
809 53571
810 53572
811 53573
812 53574
813 53575
814 53576
815 53577
816 53578
817 53579
818 53580
819 53581
820 53004
821 53005
822 53006
823 53007
824 53010
825 53017
826 53018
827 53590
828 53593

829 53594
830 53597
831 53598
832 53599
833 53702
834 54411
835 54412
836 54413
837 54414
838 54416
839 54417
840 54418
841 54420
842 54421
843 54422
844 54423
845 54424
846 54425
847 54426
848 53703
849 53704
850 53705
851 53706
852 53711
853 53713
854 53714
855 54499
856 54501
857 54511
858 54512
859 54513
860 54514
861 54515
862 54517
863 54519
864 54520
865 54521
866 54524
867 54525
868 54526
869 54547
870 54548
871 54550
872 54552
873 54554
874 54555
875 54556
876 54557
877 54558
878 54559
879 54560
880 54561
881 54562
882 54563
883 54564
884 54565
885 54566
886 54568
887 54601
888 54603
889 54610
890 53715
891 53716
892 53717
893 53718
894 53719
895 53726
896 53792
897 54619
898 54621
899 54622
900 54623
901 54624
902 54636
903 54637
904 54638
905 54639
906 54641
907 54642
908 54625
909 54626
910 54627
911 54632
912 54634
913 54635
914 54628
915 54629
916 54630
917 54631
918 53206
919 53207
920 53208
921 53209
922 53210
923 53211
924 53212
925 53213
926 53214
927 53215
928 53216
929 53217
930 53218
931 53219
932 53801
933 53802
934 53803
935 53804
936 53805
937 53806
938 53807
939 54220
940 54227
941 54228
942 54229
943 54230
944 54216
945 54234
946 54232
947 54235
948 54241
949 54247
950 54301
951 54246
952 54245
953 54302
954 54303
955 54304
956 54307
957 54311
958 54313
959 54401
960 54209
961 54213
962 54208
963 54211
964 54212
965 54210
966 54214
967 54217
968 54427
969 54428
970 54430
971 54433
972 54435
973 54436
974 54437
975 54440
976 54441
977 54442
978 54443
979 54446
980 54447
981 54448
982 54527
983 54529
984 54530
985 54531
986 54534
987 54536
988 54537
989 54449
990 54450
991 54451
992 54452
993 54454
994 54455
995 54456
996 54457
997 54458
998 54459
999 54460
1000 54462
1001 54463
1002 54480
1003 54481
1004 54482
1005 54484
1006 54485
1007 54486
1008 54487
1009 54488
1010 54538
1011 54539
1012 54540
1013 54541
1014 54542
1015 54545
1016 54546
['ZCTA N/A']

,Zipcode,Population,Median age,Under 18(%),18 to 64(%),65 and over(%),Male(%),Female(%),White(%),Black(%),...,Some College(%),Bachelor's(%),Post-grad(%),Foriegn Born Population(%),Europe(%),Asia(%),Africa(%),Oceania(%),Latin America(%),North America(%)
0,10001,25026,36.1,10.98,76.38,12.64,49.01,50.99,54.51,6.14,...,10.28,43.84,28.37,28.71,19.08,49.55,2.25,3.52,21.46,4.13
1,10002,74363,44.8,13.09,63.18,23.74,49.29,50.71,22.16,7.77,...,12.98,23.86,10.65,41.04,5.55,79.01,0.61,1.27,12.85,0.7
2,10003,54671,31.9,7.18,80.16,12.66,48.78,51.22,67.98,5.01,...,9.23,45.16,36.0,18.84,30.11,41.21,1.84,6.09,15.72,5.03
3,10004,3310,38.4,7.37,84.23,8.4,47.34,52.66,66.89,4.5,...,3.48,45.67,48.33,20.36,27.89,53.26,2.97,7.42,2.08,6.38
4,10005,8664,30.4,10.2,88.73,1.06,47.68,52.32,70.16,2.01,...,1.6,51.52,40.15,17.68,36.36,41.91,0.72,9.01,8.49,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,54541,1392,45.1,20.55,58.84,20.62,44.4,55.6,80.1,4.17,...,29.82,9.58,6.09,1.22,11.76,88.24,0,0,0,0
1014,54542,500,52.9,13.0,56.2,30.8,50.0,50.0,79.2,0,...,32.74,10.49,4.86,0,0,0,0,0,0,0
1015,54545,859,61.1,11.06,50.99,37.95,51.11,48.89,92.67,0,...,29.62,27.17,16.98,0.7,100.0,0,0,0,0,0
1016,54546,1084,52.5,18.08,57.56,24.35,49.72,50.28,93.82,0,...,42.58,13.16,2.99,0.55,0,100.0,0,0,0,0
1017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
socio_df['Zipcode'].isnull().sum()

1